Repository anderm18/HASSPathways, pull requests merged in 2022-10, with the labels that each got.

#188 Added SIS and Course Scraper updates to be merged to main
  backend/scrapers/pathway_scraper.py
  backend/scrapers/sis_scraper.py
Labels: Back End

#189 Sorting option
  frontend/src/components/CourseTable.vue
  frontend/src/pages/FromClasses/FromClassesPage.vue
Labels: hacktoberfest-accepted

#191 Section Expansion Cards
  frontend/src/pages/Courses/CoursePage.vue
Labels: Front End

#193 API Info
  .DS_Store
  backend/.DS_Store
  backend/Templates/.DS_Store
  backend/Templates/admin.html
  backend/admin.py
Labels: hacktoberfest-accepted
